body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.cart-header {
    background-color: green;
    padding: 15px;
    color: white;
}
.cart-title {
    margin: 20px;
}
.cart-container {
    width: 80%;
    margin: auto;
}
.cart-item {
    display: flex;
    align-items: center;
    background: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.cart-item img {
    width: 150px;
    height: auto;
    border-radius: 6px;
    margin-right: 20px;
}
.cart-details h3 {
    margin: 0 0 10px;
}
.cart-details p{
    margin: 50px 0;
}
.qty-box {
    margin:10px 0
}
.qty-box input {
    width: 60px;
    padding: 5px;
}
.remove-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.remove-btn:hover {
    background-color: darkred;
}
.cart-total {
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    text-align: right;
}
.buy-btn {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: #2e7d32;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.buy-btn:hover {
    background-color: #1b5e20;
}