body {
    font-family: Arial,sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
}
.navbar {
    background: #6ad17b;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo {
    color: white;
}
.navbar input {
    flex: 1;
    padding: 8px;
    border-radius: 20px;
    border: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.title {
    font-size: 28px;
    margin-bottom: 20px;
}
.products {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    background: #fff;
    width: 250px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}
.card h3 {
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
}
.btns {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.btn {
    background: green;
    color: white;
    padding: 6px 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 4px;
}
.btn:hover {
    background: darkgreen;
}