body {
    margin:0;
    font-family: Arial,sans-serif;
    background: #f5fff5;
}
.top-bar {
    background: #245f3e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.navbar {
    background: #6ad17b;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo {
    color: white;
}
.navbar input {
    flex: 1;
    padding: 8px;
    border-radius: 20px;
    border: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.section-title {
    padding: 10px;
}
.products {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.product-card{
    display: inline-block;
    background: #f5f5f5;
    width: 220px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    margin: 15px;
    padding: 50px;
}
.product-card img {
    width: 100%;
    height: 220px;
    align-items: center;
    border-radius: 10px;
}
.desc {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0;
}
.cart-btn {
    background: green;
    color: white;
    border: none;
    padding:10px 15px;
    margin-right: 10px;
    cursor: pointer;
}
.buy-btn{
    background: green;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}
.btn {
    display: inline-block;
    padding: 8px 15px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
footer {
    background: #245f3e;
    color: white;
    text-align: center;
    padding: 1px;
}